nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

}

nav .logo {
    height: 130px;
    width: 150px;
}

.navbar-menu {

    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    transition: margin-top 0.3s ease;
}

.navbar-right {
    margin: 20px;
    display: flex;


}

nav button {
    background: transparent;
    font-size: 16px;
    border: 1px solid var(--color-6);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    color: var(--color-2);
}

.menu span {
    height: 0.4rem;
    width: 100%;
    background-color: black;
    border-radius: 0.2rem;

}

nav button:hover {
    background: var(--color-6);
    color: var(--color-1);
}

.menu {
    display: none;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    cursor: pointer;

}

.menu span {
    height: 4px;
    width: 30px;
    background-color: black;
    border-radius: 2px;
    transition: transform 0.3s, opacity 0.3s;
}

.menu.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu.open span:nth-child(2) {
    opacity: 0;
}

.menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media(max-width:950px) {
    .menu {
        display: flex;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        background: transparent;
        margin-top: 40px;
        padding: 15px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        z-index: 1000;
    }

    .navbar-menu.open {
        display: flex;
   
    }

    .navbar-right {
        width: 80%;
        margin: 15px auto 0;
        display: block;

    }

    .navbar-right {
        display: none;
    }
    body.menu-open .container {
        margin-top:250px; }


}