.home-page {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.img-container img {
  max-width: 80%;
  height: auto;
  transition: transform 0.3s ease;
}


.center-text,
.left-text,
.right-text {
  color: var(--color-2);
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.center-text {
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
 
}


.left-text,
.right-text {
  position: absolute;
  top: 50%;
  font-weight: bold;
  font-size: 2rem;
  opacity: 1;
  transition: all 1s ease;
}

.left-text {
  left: 10%;
  transform: rotate(-50deg) translateX(-20px);
}

.right-text {
  right: 10%;
  transform: rotate(50deg) translateX(20px);
}


.btn {
  padding: 20px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--color-2) !important;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.3s ease;
  color: var(--color-6);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin: 10px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(1px);
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
}

.fade-in.left-text.visible {
  opacity: 1;
  transform: rotate(-20deg) translateX(0);
}

.fade-in.right-text.visible {
  opacity: 1;
  transform: rotate(20deg) translateX(0);
}

@media (max-width: 980px) {
  .container {
    padding: 1rem;
    align-items: center;
  }

  .img-container {
    margin-top: 2rem;
  }

  .left-text,
  .right-text {
    position: static;
    transform: none !important;
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 0;
    opacity: 1;
  }

  .center-text {
    font-size: 2.5rem;
  }

  .img-container img {
    max-width: 100%;
  }

  .btn {
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.bounce {
  animation: bounce 2s infinite ease-in-out;
}
