.MuiDialog-paper {
  background-color: var(--color-6) !important;
  border-radius: 20px;
  padding: 0;
  max-width: 700px;
  width: 90%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  animation: fadeInScale 0.4s ease-out;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.titulo {
  font-weight: 600 !important;
  color: var(--color-5);
  text-align: center;
  margin: 20px 0 10px 0;
  font-size: 2rem !important;
}

.MuiDialogContent-root {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 15px;
  overflow-y: auto;
}



.modal-img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.modal-img:hover {
  transform: scale(1.05);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  width: 100%;
  margin-top: auto;
  text-align: center;
}

.btn-modal {
  background-color: var(--color-2) !important;
  color: var(--color-6)  !important;
  font-weight: bold !important;
  padding: 12px 28px !important;
  font-size: 16px;
  border-radius: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-modal:hover {
  background-color: var(--color-5) !important;
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .modal-img {
    width: 100px;
    height: 100px;
  }

  .MuiDialogContent-root p,
  .texto {
    font-size: 16px !important;
  }

  .btn-modal {
    padding: 10px 20px !important;
    font-size: 14px;
  }

  .btns {
    flex-wrap: wrap;
    gap: 10px;
  }
}