.container-login {
  display: flex;
  margin-top: -35px;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.links {
  background: none !important;
  border: none;
  color: var(--color-5) !important;
  text-decoration: underline;
  cursor: pointer;

  font: inherit;
}

.login-card {
  background: rgba(255, 255, 255, 0.34);
  padding: 40px;
  border-radius: 20px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.8s ease-in-out;
}

.login-card h2 {
  color: var(--color-2);
  text-align: center;
  margin-bottom: 20px;
}

.login-card label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--color-4);
  font-family: sans-serif;
  text-align: left;
  transition: color 0.3s ease;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 2px solid var(--color-2);
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: transparent;
}

.login-card input:focus {
  outline: none;
  border-color: var(--color-6);
  box-shadow: 0 0 5px #e1bee7;
  background-color: transparent;
}

.login-card button {
  background: var(--color-2);
  color: var(--color-6);
  border: none;
  padding: 12px;
  border-radius: 12px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}

.login-card button:hover {
  background: var(--color-6);
  color: var(--color-2);
}

.bottom-links {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.bottom-links a {
  color: var(--color-5);
  text-decoration: none;
  transition: color 0.3s ease;
}

.bottom-links a:hover {
  color: var(--color-2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error,
.success {
  margin-top: 15px;
  padding: 12px 15px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  animation: fadeIn 0.6s ease-out;
}

.error {
  color: var(--color-5);
  background-color: var(--color-1);
  margin-top: 5px;
  margin-bottom: 8px;
  border: 1px solid var(--color-2);
}
.input-error {
  border: 1px solid red;
  margin: 0;
  padding: 0;
  background-color: #ffe6e6;
}

.success {
  color: var(--color-2);
  background-color: var(--color-1);
  border: 1px solid #a5d6a7;
}
@media (max-width: 768px) {
  .login-card {
    padding: 30px;
  }

  .login-card h2 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .login-card {
    padding: 25px;
    border-radius: 16px;
  }

  .login-card h2 {
    font-size: 20px;
  }

  .login-card input,
  .login-card button {
    font-size: 15px;
    padding: 10px;
  }

  .bottom-links {
    font-size: 13px;
    flex-direction: column;
    gap: 8px;
  }
}
