.modal-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background: var(--color-6);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: auto;
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .modal-title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .modal-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .modal-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
    display: block;
  }
  
  .modal-details {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    margin-bottom: 15px;
    gap: 20px;
  }
  
  .column {
    width: 50%;
  }
  
  .section-title {
    font-weight: bold;
    font-size: 14px;
    color: #ff7300;
    margin-bottom: 8px;
  }
  
  .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .column ul li {
    margin-bottom: 5px;
  }
  
  .ok-button {
    background: #66bb6a;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto;
  }
  
  .ok-button:hover {
    background: #4caf50;
  }
  