@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
:root {
  /*de fondo*/
 --color-1: #A7D1AB;
 /*letras*/
 --color-2: #2E1A47;
  /*letras*/
 --color-3: #F2E8CF;


 --color-5:  #d72638;
  /*links*/
 --color-6: #FFEB3B;
 --font-size: inherit;
}
html,
body {
  scroll-behavior: smooth;
  height: 100dvh;
  min-width: 390px;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  background: var(--color-1); 
  color: var(--color-2);
font-family: 'Luckiest Guy';

}
a{
  text-decoration: none;

}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}